* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

.wrapper{
    padding: 10px 11% 30px;
    margin: 0 auto;
}
.wrapper,
.category,
.category__box,
.category__item {
    display: flex;
    flex-direction: column;
}

.category {
    padding-bottom: 30px;
    position: relative;
}

.category::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed;
    top: 100%;
    left: 0;

}

.category__heading {
    font-size: clamp(14px, 5vw, 28px);
    padding: 20px 0 18px;
}

.category__box {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 3%;
}

.category__item {
    align-items: center;
    justify-content: center;
    width: 23%;
    min-width: 100px;
    padding: 2%;
    background-color: #E4E4E4;
    border-radius: 8px;
    gap: 10px;
}

.cosmetics {
    width: 18%;
}

.category__title {
    font-size: clamp(10px, 1vw, 16px);
    white-space: nowrap;
}

.category__name {
    padding-bottom: 8px;
    
}

.category__image {
    width: 30%;
}

img {
    max-width: 100%;
    min-width: 30px;
}

span {
    font-weight: 700;
}